.colortext {	color:#08a5ba;}
.colorbg {background:#08a5ba;}
a {	color:#08a5ba;} 
::selection{background:#08a5ba;}
.navbar-nav>li.active>a,.navbar-nav>li.active>a:hover,.navbar-nav>li.active>a:focus {background-color:#08a5ba;}
.navbar-nav>li.active>a:before,.navbar-nav>li>a:hover:before,.navbar-nav>li>a:focus:before,.extra-nav-class a.dropdown-toggle:before {border-bottom:6px solid #08a5ba;}
.navbar-nav>li>a:hover,.navbar-nav>li>a:focus {	background-color:#08a5ba;}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {background-color:#08a5ba !Important;}
.extra-nav-class a.dropdown-toggle {	background-color:#08a5ba !Important;}
.car-highlight1 {background-color:#08a5ba;}
.car-smallcircle {background:#08a5ba;}
.carouselText2 {	background:#08a5ba;}
.icon-box-top i:hover {background-color:#08a5ba;}
.fontawesome-icon.circle-white {	color:#08a5ba;}
.grey-box-icon:hover .fontawesome-icon.circle-white,.grey-box-icon.active .fontawesome-icon.circle-white,.active i.fontawesome-icon {background-color:#08a5ba;}
.home-features .icon {background:#08a5ba;color:#fff;}
.copyright { background-color:#333333;}
.panel1 {border-left:6px solid #08a5ba;}
.buttoncolor {background:#08a5ba;}
.panel,.panel2 {	border-left:8px solid #08a5ba;}
.btn-default {background-color:#08a5ba;}
.btn-minimal:hover {	color: #08a5ba;}
#accordion div h4:before {	background:#08a5ba url('../img/plus.png') center center no-repeat;}
#accordion div.active h4:before {background:#08a5ba url('../img/minus.png') center center no-repeat;}
.sidebar h4 {color:#08a5ba;}
.nav-tabs>.active>a,.nav-tabs>.active>a:hover {color: #08a5ba !important;}
blockquote {border-left:5px solid #08a5ba;}
blockquote.thin {border-left: 1px solid #e2e2e2;}
#skill i {background:#08a5ba;}
.service-fancybox:hover i {color:#08a5ba;}
.service-fancybox:hover {background:#08a5ba;}
.service-fancybox.featured {	background:#08a5ba;}
.service-fancybox.featured .circleicon i {color:#08a5ba;} 
.service-fancybox.black .circleicon i {color:#08a5ba;}
.cbp_tmtimeline>li .cbp_tmicon {background:#08a5ba;}
.services i {	color:#08a5ba;}  
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus {background-color:#08a5ba;	border-color:#08a5ba;}
.landingpage-button {color:#08a5ba;}
.landingpage-button {color:#08a5ba;}
.landingpage-button span {color:#08a5ba;}
.landingpage-button strong {color:#08a5ba;}
.landingpage-button i {color:#08a5ba;}
.active-header {	background:#08a5ba;}
.active-header:hover {background:#08a5ba;}
#filter ul li .selected {background: #08a5ba !Important;}
.drop-cap, .captionicons {background:#08a5ba;}
.pageheader-default .semitransparentbg, .bgarea-semitransparent {background: rgba(42,196,234,0.80) !important;}
.btn-twoblue { background-color:#2186b8; color:#ffffff; text-transform:uppercase;font-weight:bold; border-radius:2px;}